<nav class="navbar navbar-default navbar-custom navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{% if page.url == "/" %}active{% endif %}">
          <a href="/">
            <i class="fa fa-newspaper-o"></i> News
          </a>
        </li>
        <li>
          <a href="http://systemdocs.maidsafe.net/content/">
            <i class="fa fa-book"></i> Docs
          </a>
        </li>
        <li class="{% if page.url == "/about/" %}active{% endif %}">
          <a href="/about/">
            <i class="fa fa-user"></i> About
          </a>
        </li>
        <li class="{% if page.url == "/contact/" %}active{% endif %}">
          <a href="/contact/">
            <i class="fa fa-send"></i> Contact
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://twitter.com/safenetwork_io"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/pages/safenetworkio/388183547995712"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://github.com/safenetwork"><i class="fa fa-github-square"></i></a>
        </li>
        <li>
          <a href="https://trello.com/safenetwork"><i class="fa fa-trello"></i></a>
        </li>
        <li>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
