---
layout: default
---

<header class="intro-header">
  <div class="container">
    <div class="post-heading">
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="subheading">{{ page.subtitle }}</h2>
      {% endif %}
      <span class="meta">Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}</span>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <img src="{{ page.header-img }}" class="img-responsive">
  	{{ content }}
    <hr>
    <ul class="pager">
      {% if page.previous.url %}
        <li class="previous">
          <a href="{{page.previous.url | prepend: site.baseurl}}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
      {% endif %}
      {% if page.next.url %}
        <li class="next">
          <a href="{{page.next.url | prepend: site.baseurl}}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
      {% endif %}
    </ul>
  </div>
</article>

{% include footer.html %}
